<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/admin/dashboard" (click)="onLinkClick()">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/bookings" (click)="onLinkClick()">
        <mat-icon>book</mat-icon> Bookings
      </a>
    </li>
    <li>
      <a routerLink="/admin/users" (click)="onLinkClick()">
        <mat-icon>group</mat-icon> Users
      </a>
    </li>
    <li>
      <a routerLink="/admin/settings" (click)="onLinkClick()">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </li>
  </ul>
</div>
