.sidebar {
  width: 100%;
  padding: 10px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px 15px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: 0.3s;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
}

mat-icon {
  margin-right: 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
  }
}
