.sidebar {
  width: 100%;
  padding: 10px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 10px;
}
