.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Brand Styling */
.brand {
  display: flex;
  align-items: center;

  .logo {
    height: 40px;
    margin-right: 10px;
  }

  .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 15px;
}

/* User Profile */
.user-profile {
  display: flex;
  align-items: center;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}

/* Hide menu button on large screens */
.menu-button {
  display: none;
}

.welcome-text {
  font-weight :600;
  margin-right: 10px;
    color: #360A0C;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: inline-flex;
  }

  .mobile-nav-container {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
}
