<mat-card class="booking-card">
  <h2>Book Your Appointment</h2>
  <form [formGroup]="bookingForm" (ngSubmit)="submitBooking()">
    
    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="f['name'].touched && f['name'].invalid">
        Name is required (Min 3 characters)
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="f['email'].touched && f['email'].invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="tel" formControlName="phone" />
      <mat-error *ngIf="f['phone'].touched && f['phone'].invalid">
        Phone must be 10 digits
      </mat-error>
    </mat-form-field>

    <!-- Service Selection -->
    <mat-form-field appearance="outline">
      <mat-label>Select Service</mat-label>
      <div *ngIf="services$ | async as services; else noData">
      <mat-select formControlName="service">
        <mat-option *ngFor="let service of services" [value]="service.name">
          {{ service.name }} - ${{ service.price }}
        </mat-option>
      </mat-select>
    </div>
    <ng-template #noData>
      <p>No services available.</p>
    </ng-template>
      <mat-error *ngIf="f['service'].touched && f['service'].invalid">
        Please select a service
      </mat-error>
    </mat-form-field>

    <!-- Date Picker -->
    <mat-form-field appearance="outline">
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="f['date'].touched && f['date'].invalid">
        Please select a date
      </mat-error>
    </mat-form-field>

    <!-- Time -->
    <mat-form-field appearance="outline">
      <mat-label>Preferred Time</mat-label>
      <input matInput type="time" formControlName="time" />
      <mat-error *ngIf="f['time'].touched && f['time'].invalid">
        Please select a time
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="bookingForm.invalid">
      Confirm Booking
    </button>

  </form>
</mat-card>
